.main {
  flex-grow: 1;

  /* Using padding: 2rem 0 will overrride padding of .container */
  padding: 2rem 1rem;

  font-size: 1.5rem;
}

.main__title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--light-black);

  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: auto;

  row-gap: 2rem;
  column-gap: 2rem;

  place-items: stretch stretch;
}

.grid__item-container {
  cursor: pointer;
}

.grid__item-container:hover .grid__overlay {
  opacity: 1;
}

.grid__item {
  position: relative;

  width: 100%;
  height: 100%;
}

.grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0.5rem;

  color: var(--white);
  font-size: 2.5rem;
  text-align: right;

  opacity: 0;
  background-color: var(--black-50);

  transition: opacity 300ms ease;
}

.grid__modal {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  background-color: var(--black-50);

  z-index: var(--z-0);

  transition: all 500ms ease;

  overflow: hidden;
}

.grid__modal--show {
  opacity: 1;
  z-index: var(--item-modal);
}

.modal-content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  min-width: 31rem;
  max-width: 31rem;

  opacity: inherit;

  transition: all 300ms ease;
}

.modal-content__close {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;

  font-size: 3rem;
  color: var(--white);

  transition: all 300ms ease;
}

.modal-content__img {
  width: 100%;
  height: auto;
}

.modal-content__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  color: var(--black);

  padding: 1rem;
  background-color: var(--light-bg);
}

.modal-content__description {
  font-size: 1.5rem;

  padding-bottom: 1rem;
  border-bottom: 2px solid var(--input-border);
}

.modal-content__description h4 {
  margin-bottom: 0.5rem;
}

.modal-content__paw-fives {
  padding-top: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-content__paw-fives img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
}

.main__load-more {
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  color: var(--secondary-text);

  margin: 2rem auto;
}

.main__selector {
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  color: var(--secondary-text);

  margin: 2rem auto;
}

.main__label {
  margin-right: 0.5rem;
}

.main__select {
  font-size: 1.7rem;
  line-height: inherit;

  padding: 0 1rem 0 0.5rem;

  outline: none;
  border-radius: 0.5rem;
  background-color: transparent;

  cursor: pointer;
}

/* Extra one for modla close button */
@media (min-width: 400px) {
  .modal-content__close {
    top: 0.25rem;
    right: -4rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main {
    padding: 2rem 0;
  }

  .grid {
    grid-template-columns: auto auto;
  }

  .modal-content {
    min-width: 50rem;
    max-width: 50rem;
  }

  .modal-content__info {
    flex-direction: row;
    padding: 2rem;
  }

  .modal-content__description {
    flex-grow: 1;

    padding-bottom: 0;
    padding-right: 2rem;
    border-bottom: none;
    border-right: 2px solid var(--input-border);
  }

  .modal-content__paw-fives {
    flex-shrink: 0;

    padding-top: 0rem;
    padding-left: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid {
    grid-template-columns: auto auto auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
