@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
  --gray: #c4c4c4;
  --white: #ffffff;
  --black: #393939;
  --orange: #f29643;
  --overlay: #000000;
  --light-bg: #f7f7f7;
  --light-black: #414141;
  --secondary-text: #7f7f7f;
}

html {
  height: 100vh;
  min-width: 320px;

  font-size: 10px; /* For making it easier to use rem */
}

html,
html * {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;

  box-sizing: border-box;
}

body {
  position: relative;

  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.btn {
  padding: 0.5rem 2.25rem;

  font-weight: 600;
  color: var(--white);

  background-color: var(--orange);

  border: none;
  outline: none;
  border-radius: 0.8rem;
}

.btn-large {
  width: 100%;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0.8rem 0 var(--orange);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
