.upload {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  min-width: 32rem;
  /* width: 90%; */

  margin: 1rem;
  padding: 1rem;

  font-size: 2rem;
  color: var(--black);

  opacity: inherit;

  border-radius: 1rem;
  background-color: var(--light-bg);
}

.upload__close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  font-size: 2.5rem;
}

.upload__title {
  font-weight: 700;
  font-size: 2.5rem;

  margin-bottom: 2rem;
  margin-right: 2.5rem; /* Because of close button */
}

.from {
  border: 2px solid red;
}

.form__control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  margin-bottom: 1rem;
}

.form__control:last-child {
  margin-bottom: 0;
}

.form__label {
  width: 100%;

  font-weight: 600;
  font-size: 1.5rem;

  margin-bottom: 0.5rem;
}

.form__input {
  height: 3rem;

  padding: 0.5rem;

  font-size: 1.25rem;

  outline: none;

  border-radius: 0.5rem;
  border: 1px solid var(--input-border);

  background-color: transparent;

  cursor: pointer;
}

.form__input--image {
  text-align: center;
  color: var(--secondary-text);

  border-color: var(--gray);
  background-color: var(--gray);
}

.form__input--large {
  height: 5rem;
  resize: none;
  font-family: inherit;
}

.form__input::placeholder {
  color: var(--secondary-text);
}

.form__input:focus {
  border-color: var(--orange);
  box-shadow: 0 0 0.8rem 0 var(--orange);
}

.form__input--image:hover {
  box-shadow: 0 0 0.8rem 0 var(--secondary-text);
}

.form__preview {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 5rem;
  height: 5rem;

  margin: auto;
  margin-top: 1rem;

  font-size: 1rem;
  color: var(--secondary-text);

  border-radius: 0.25rem;
  border: 1px solid var(--secondary-text);

  background-color: var(--gray);

  cursor: pointer;
}

.form__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: var(--preview-image);

  object-fit: cover;
}

.form__error {
  font-size: 1rem;
  text-align: center;
  color: var(--error);

  margin: 0;
  padding: 0;
}

.form__submit {
  margin-top: 1.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .upload {
    min-width: 55rem;
    width: auto;

    padding: 2rem;

    border: 2px solid red;
  }

  .upload__close {
    top: 1rem;
    right: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
